
<!-- <div style="margin-bottom: 0;"  class="ion-padding ion-text-center titulo">
  Indicadores de salud
</div>  -->
<ng-container *ngIf="detectar === true">
  <ion-grid>
    <ion-row>
    <ion-col size="12">
      <ion-item lines="none">
        <p class="tituloindicador">IMC  =</p>
        <ion-label class="tamanoindicador" *ngIf="dato">{{dato.imc}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item lines="none">
        <p class="tituloindicador">ICA  =</p>
        <ion-label class="tamanoindicador" *ngIf="dato">{{dato.ica}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item lines="none">
        <p class="tituloindicador">Perímetro de cintura =</p>
        <ion-label class="tamanoindicador" *ngIf="dato">{{dato.Perimetro_Cintura}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item lines="none">
        <p class="tituloindicador">TBM  =</p>
        <ion-label class="tamanoindicador" *ngIf="dato">{{dato.tmb}}</ion-label>
      </ion-item>
    </ion-col>


    <ion-col size="12">
      <ion-item lines="none">
        <p class="tituloindicador">Estrategia nutricional  =</p>
        <ion-label class="tamanoindicador" *ngIf="dato">{{dato.Estrategia_N}}</ion-label>
      </ion-item>
    </ion-col>

    </ion-row>
  </ion-grid>
</ng-container >

<ng-container *ngIf="detectar === false">
  <p class="ion-text-center ion-padding">
    Debes completar el formulario en nutrición para poder ver sus indicadores
     <span style="color: red;"> * </span></p>
</ng-container>