<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-fab vertical="center"  horizontal="start" slot="fixed" class="animated fadeInUp delay-2s" >
        <ion-fab-button style="--background:#ef4044" (click)="atras()" size="small">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-buttons>
    <div class="cabezera">
      <img src="assets/img/logo-app.png" class="logo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" slot="fixed">

  <div class="contenedor">

      <h2 class="titulo">¿Listo para comenzar?</h2>

      <ion-grid class="my-grid">
      <ion-row class="parent-row">
        <ion-col size="12">      
          <ion-input type="text" (ionBlur)="checkName()" placeholder="Nombre*" 
           name="nombre" [(ngModel)]="registrar.nombre" required></ion-input>
        </ion-col>

        <div class="error" *ngIf="error.name != ''">
          <p>{{ error.name }}</p>
        </div>
          
        <ion-col  size="12">      
          <ion-input (ionBlur)="checkEmail(); email()" type="email" 
          placeholder="Correo*" name="email" 
          [(ngModel)]="registrar.email"  ></ion-input>
        </ion-col>

        <div class="error" *ngIf="error.email != ''">
          <p>{{ error.email }}</p>
        </div>

        <ion-col  size="12">      
          <ion-input type="email" (ionBlur)="checkConfirmEmail(); email2()" 
          placeholder="Confirmar Correo*"  name="reemail" 
          [(ngModel)]="registrar.reemail" ></ion-input >
        </ion-col>

        <div class="error" *ngIf="error.confirmEmail != ''">
          <p>{{ error.confirmEmail }}</p>
        </div>

        <ion-col  size="12">      
          <ion-input type="Password" (ionBlur)="checkPassword()" placeholder="Contraseña*" name="contra" 
          [(ngModel)]="registrar.contra" required></ion-input>
        </ion-col>

        <div class="error" *ngIf="error.pass != ''">
          <p>{{ error.pass }}</p>
        </div>
        
        <ion-col  size="12">      
          <ion-input type="Password" (ionBlur)="checkConfirmPassword()" placeholder="Confirmar Contraseña*" name="recontra" 
          [(ngModel)]="registrar.recontra" required></ion-input>
        </ion-col>
        
        <div class="error" *ngIf="error.confirmPass != ''">
          <p>{{ error.confirmPass }}</p>
        </div>

        <ion-col  size="12">      
          <ion-card 
          [disabled]="sending || !checkErrors() || empty()"
          color="medium"
          (click)="acceder()">
          <h2 style="margin: 10px;">
            <b> Acceder </b>
          </h2> 
         </ion-card>
        </ion-col>


      </ion-row>
      </ion-grid>      

  </div>



  
</ion-content>


