.logo {
  margin: 0 auto;
  max-height: 4rem;
}

.cabezera {
  max-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

ion-col {
  display: table;
  height: 200px;
}

ion-col ion-label {
  font-weight: bold;
  font-size: 1.2rem;
}

ion-col ion-input {
  background: #dcdcdc;
  border-radius: 10px;
  color: black;
  margin-bottom: 1rem;
}

ion-col ion-select {
  background: #dcdcdc;
  border-radius: 10px;
  color: black;
  margin-bottom: 1rem;
}

ion-col ion-avatar {
  display: table-cell;
  top: 1.5rem;
  position: relative;
}

ion-col ion-avatar ion-fab-button {
  position: absolute;
  right: 0;
  bottom: 30%;
  --background: #FFBB00;
}

ion-col ion-avatar img {
  width: 120px;
  height: 120px;
}

ion-buttons {
  position: absolute;
  right: 0;
}

ion-segment-button {
  color: black;
}

ion-segment-button .active {
  background: #ef4044;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

ion-title {
  text-align: center;
}

.titulo {
  text-align: center;
  font-size: 23px;
  font-weight: 800;
  /*   opacity: 0.7; */
  margin-bottom: 0;
}
