<ion-header>
  <ion-toolbar color="dark">
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/bateria-alimento"></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <img src="assets/img/logo-app.png" class="imagenmodificada">    
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios">Alimentación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="box-img-container">
    <span class="identificador"> 2 / 4 </span>
    <img src="assets/img/alimentacion2@2x.png">
  </div>

  <div class="box-text-container">
    <p class="parrafo">
      Tus requerimientos nutricionales según tu objetivo son:
    </p>
  </div>

  <img src="assets/img/barra.png" alt="">


  <div class="box-text-container">
    <p class="parrafo">
      Esta debería ser tu ingesta diaria de macronutrientes, según el objetivo que elegiste.
    </p>
  </div>



</ion-content>


