<ion-buttons slot="start">
  <ion-fab vertical="center" style="margin-top:-4.75rem;"  horizontal="start" slot="fixed" class="animated fadeInUp delay-2s" >
   <ion-fab-button style="--background:#ef4044" (click)="devolver()" size="small">
     <ion-icon name="arrow-back-outline"></ion-icon>
   </ion-fab-button>
 </ion-fab>
</ion-buttons>


<ion-header [translucent]="true" class="ion-no-border">
  <div class="cabezera">
    <img src="assets/img/logo-app.png" class="logo">
  </div>
</ion-header>
<ion-grid fixed>
  <ion-row>
    <ion-col size="4">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51e6kpkyuIL._AC_SY355_.jpg" alt="">
      <h2 class="ion-text-center ion-no-margin">Frente</h2>
    </ion-col>
    <ion-col size="4">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51e6kpkyuIL._AC_SY355_.jpg" alt="">
      <h2 class="ion-text-center ion-no-margin">Espalda</h2>
    </ion-col>
    <ion-col size="4">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51e6kpkyuIL._AC_SY355_.jpg" alt="">
      <h2 class="ion-text-center ion-no-margin">Perfil</h2>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4">
      <h2 class="title-measure ion-text-center ion-no-margin">Cintura mínima </h2>
        <p class="subtitle-measure">10</p>
    </ion-col>
    <ion-col size="4">
      <h2 class="title-measure ion-text-center ion-no-margin">Cintura máxima</h2>
      <p class="subtitle-measure">10</p>
    </ion-col>
    <ion-col size="4">
      <h2 class="title-measure ion-text-center ion-no-margin">Cadera</h2>
      <p class="subtitle-measure">10</p>
    </ion-col>

    <ion-col size="4">
      <h2 class="title-measure ion-text-center ion-no-margin">Cuello </h2>
        <p class="subtitle-measure">10</p>
    </ion-col>
    <ion-col size="4">
      <h2 class="title-measure ion-text-center ion-no-margin">Muslo derecho</h2>
      <p class="subtitle-measure">10</p>
    </ion-col>
    <ion-col size="4">
      <h2 class="title-measure ion-text-center ion-no-margin">Muslo izquierdo</h2>
      <p class="subtitle-measure">10</p>
    </ion-col>


    <ion-col size="4">
      <h2 class="title-measure ion-text-center ion-no-margin">Brazo relajado derecho </h2>
        <p class="subtitle-measure">10</p>
    </ion-col>
    <ion-col size="4">
      <h2 class="title-measure ion-text-center ion-no-margin">Brazo flexionado derecho</h2>
      <p class="subtitle-measure">10</p>
    </ion-col>
    <ion-col size="4">
      <h2 class="title-measure ion-text-center ion-no-margin">Brazo flexionado izquierdo</h2>
      <p class="subtitle-measure">10</p>
    </ion-col>


    <ion-col size="4">
      <h2 class="title-measure ion-text-center ion-no-margin">Pantorrilla derecha </h2>
        <p class="subtitle-measure">10</p>
    </ion-col>
    <ion-col size="4">
      <h2 class="title-measure ion-text-center ion-no-margin">Pantorrilla izquierda</h2>
      <p class="subtitle-measure">10</p>
    </ion-col>
    <ion-col size="4">
      <h2 class="title-measure ion-text-center ion-no-margin">Tórax</h2>
      <p class="subtitle-measure">10</p>
    </ion-col>



  </ion-row>
</ion-grid>
<ion-content>


</ion-content>
