<ion-content [fullscreen]="true" [scrollEvents]="true">

  <div class="layout-divider"></div>

  <ion-progress-bar value="{{progressbar}}" color="danger" class="animated slideInLeft delay-1s"></ion-progress-bar>
  <!-- bajar -->
  <ng-container *ngIf="ocultar">
    <ion-fab  vertical="top" horizontal="end" slot="fixed" *ngIf="contador == 2">
      <ion-fab-button color='danger' (click)="bajar()">
        <ion-icon name="arrow-down" ></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
  
  <!-- subir -->
  <ng-container *ngIf="!ocultar">
    <ion-fab  vertical="top" horizontal="end" slot="fixed" *ngIf="contador == 2">
      <ion-fab-button color='danger' (click)="arriba()">
        <ion-icon name="arrow-up" ></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
  



  <ion-slides  [ngClass]="condicionalCss ? 'ion-slides' : 'ion-noslides' "  #slide>
  <!--   <ion-slide>
      <ion-grid class="my-grid">
        <ion-row class="parent-row">
          <app-edad (cambiarPantalla)="cambiar($event)"></app-edad>
        </ion-row>
      </ion-grid>
    </ion-slide> -->

    <ion-slide *ngIf="slideshow == 2" >
      <ion-grid class="my-grid">
        <ion-row class="parent-row">
          <measurements (cambiarPantalla)="cambiar($event)" (progressbar)="progressbar = $event" (back)="back($event)"></measurements>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide *ngIf="slideshow == 3" class="animated slideInLeft delay-1s">
      <medical-history (cambiarPantalla)="cambiar($event)" (siguientePantalla)="siguiente($event)"></medical-history>
    </ion-slide>

    <ion-slide *ngIf="slideshow == 4" class="animated slideInLeft delay-1s">
      <family-history (cambiarPantalla)="cambiar($event)"></family-history>
    </ion-slide>
  </ion-slides>
</ion-content>


