<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/bateria-alimento"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <img src="assets/img/logo-app.png" class="imagenmodificada">    
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios">{{dataRecibida}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <img [src]="foods" alt="">

  <ion-item>
    <ion-label class="ion-text-wrap">
     Comida
    </ion-label>
    <ion-label class="ion-text-end">
      Cantidad
     </ion-label>
  </ion-item>

  <ion-item *ngFor="let item of alimentos">
    <ion-label class="ion-text-wrap">
      {{item.food.name}}
    </ion-label>
    <ion-buttons slot="end">
      {{item.quantity}}
    </ion-buttons>
  </ion-item>


</ion-content>


