.omitir{
    text-align: right;
    color: #EF4044;
    margin-right: 2rem;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

h2{
    color: white;
    font-size: 28px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.box{
    color: white;
    opacity: 0.7;
    font-size: 18px;
    padding-left: 2rem;
    padding-right: 2rem;
}
