
<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <app-back-btn></app-back-btn>
      </ion-buttons>
      <div class="cabezera">
        <img src="assets/img/logo-app.png" class="logo">
      </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" slot="fixed" >
    <div class="animated fadeIn delay-1s" *ngIf="!actividad">
      <div class="animated fadeInLeft contenedor" *ngIf="!info">
        <h2 class="titulo " *ngIf="!info">En qué nivel de actividad física consideras que estás 
          <ion-icon class="ayudad" name="alert-circle" (click)="mostrar(info)"></ion-icon>
        </h2>
        <ion-grid class="my-grid">
          <ion-row class="parent-row">
            <ion-col size="12">
              <ion-card  style="
              width: 286px; 
              border-radius: 10px;
              text-transform: uppercase;
              font-family: 'Open Sans';
              "
              color="dark"
            (click)="nivel(0)">
              <h2 style="margin: 10px;">
                <b>Sedentario</b>
              </h2> 
              </ion-card> 
            </ion-col>

            <ion-col size="12">
                <ion-card  style="
                width: 286px; 
                border-radius: 10px;
                text-transform: uppercase;
                font-family: 'Open Sans';
                "
                color="dark"
              (click)="nivel(1)">
                <h2 style="margin: 10px;">
                  <b>Ligero</b>
                </h2> 
                </ion-card>
            </ion-col>

            <ion-col size="12">
              <ion-card  style="
              width: 286px; 
              border-radius: 10px;
              text-transform: uppercase;
              font-family: 'Open Sans';
              "
              color="dark"
            (click)="nivel(2)">
              <h2 style="margin: 10px;">
                <b>Moderado</b>
              </h2> 
              </ion-card>
            </ion-col>

            <ion-col size="12">
                <ion-card  style="
                width: 286px; 
                border-radius: 10px;
                text-transform: uppercase;
                font-family: 'Open Sans';
                "
                color="dark"
              (click)="nivel(3)">
                <h2 style="margin: 10px;">
                  <b>Activo</b>
                </h2> 
                </ion-card>
              </ion-col>

              
            <ion-col size="12">
                <ion-card  style="
                width: 286px; 
                border-radius: 10px;
                text-transform: uppercase;
                font-family: 'Open Sans';
                "
                color="dark"
              (click)="nivel(4)">
                <h2 style="margin: 10px;">
                  <b>Muy Activo</b>
                </h2> 
                </ion-card>
              </ion-col>



          </ion-row>
        </ion-grid>
      </div>
      <div class="animated fadeInLeft" *ngIf="info">
        <ion-grid class="my-grid">
            <ion-row class="parent-row animated fadeInLeft">
                <div class="container">
                    <h5 class="titulo" style="text-align: center;">Ayuda
                        <ion-icon class="ayudad2" name="close-outline" (click)="cerrar()"></ion-icon>
                    </h5>
                    <p class=".ion-text-left"><b>Sedentario:</b> Trabajo generalmente sentado, no hago casi nada de actividad física.</p>
                    <p class=".ion-text-left"><b>Ligero:</b> En la semana ocasionalmente salgo a caminar, o realizo oficios basicos del hogar.</p>
                    <p class=".ion-text-left"><b>Moderado:</b> Tengo intervalos de actividad/pausa en mi día a día y entreno 2 a 4 veces por semana.</p>
                    <p class=".ion-text-left"><b>Activo:</b> Entreno 5 veces por semana y hago algo de cardio</p>
                    <p class=".ion-text-left"><b>Muy Activo:</b> Entreno al menos 6 veces por semana, mis pausas siempre son activas, tengo más de dos años entrenando.</p>
                </div>
  
            </ion-row>
        </ion-grid>
      </div>
    </div>


  
  </ion-content>