<ion-content fullscreen  class="fondo">

  <div class="titulo">
    <h2>Empieza por todo lo alto</h2>
  </div>
  
  <div class="box">
    <p style="margin-top: 0;">Puedes hacer un free trial con todos los beneficios por una semana o comprometerte con tus resultados y tomar desde ya la decisión transformar tu estilo de vida.</p>
  </div>

  <ion-grid>
    <ion-row style="padding: 0;">
      <ion-col  size="12" style="padding: 0;">  

        <ion-slides pager="true"   #slide [options]="slideOpts">

            <ion-slide *ngFor="let item of dato">
  
              <ion-card class="card-custom" *ngIf="item.duration !== 12">
                <div class="card-title">{{item.name}}</div>
                <div>
                <span class="card-body" *ngIf="item.price === 0">
                  GRATIS
                </span>

                <span class="card-body" *ngIf="item.price !== 0">
                  {{item.price | number:'':'es'}} COP
                </span>
                  
                  <br> 
                  <span class="card-subtitle">
                    {{item.description}}</span> 
                 </div>
                <div class="card-footer">
                  <ion-button expand="block" shape="round" class="custombtn" (click)="pago(item.id)">
                     <b>Elegir</b> 
                  </ion-button>
                </div>
              </ion-card>
  
              <ion-card class="card-custom2" *ngIf="item.duration === 12">
                <div class="card-title2" >{{item.name}}</div>
                <div>
                <span class="card-body2" *ngIf="item.price === 0">
                  GRATIS
                </span>

                <span class="card-body2" *ngIf="item.price !== 0">
                  {{item.price | number:'':'es'}} COP
                </span>
                  
                  <br> 
                  <span class="card-subtitle2">
                    {{item.description}}</span> 
                 </div>
                <div class="card-footer">
                  <ion-button expand="block" shape="round" class="custombtn2" (click)="pago(item.id)">
                     <b>Elegir</b> 
                  </ion-button>
                </div>
              </ion-card>
              
            </ion-slide>

  
        </ion-slides>
 
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
<ion-footer class="ion-no-border">
  <img src="assets/img/logo-app.png" class="logo">
</ion-footer>


