
h2{
    color: white;
    font-size: 28px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
}

.box{
    color: white;
    opacity: 0.7;
    font-size: 18px;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

ion-slides{
    --bullet-background: red; 
    --bullet-background-active: red;
    // height: auto;
    height: 120%;
}

.logo{
    width: 120px;
    display: block;
    margin: 0 auto;
}

.fondo{
    --background: url(../../assets/img/fondo-planes.png) no-repeat center center / cover;
  }
  
.card-custom{
    margin: 0;
    width: 80%;
    height: 42vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
}

.card-title{
    color:#EF4044;
    font-size: 25px;
    font-weight: bold;
}

.card-body{
    color:#000;
    font-size: 48px;
    font-weight: bold;
}

.card-subtitle{
    color:#000;
    font-size: 18px;
}

ion-buttons{
    padding: 0px !important;
    margin: 0px !important;
    font-size: 16px;
    }

    .custombtn{
        --background:#EF4044;
        font-size: 12px;
        padding: 0 3rem;
        --border-radius: 10px;
    }
      