ion-slides{
    --bullet-background: red; 
    --bullet-background-active: red;
    height: auto;
}

ion-content{
    --ion-background-color:black;
}

.omitir{
    text-align: right;
    color: #EF4044;
    margin-right: 2rem;
}
