<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/bateria-alimento"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <img src="assets/img/logo-app.png" class="imagenmodificada">    
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios">{{dataRecibida}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <img [src]="foods" alt="">

  <ion-item>
    <div class="ion-padding ion-text-center titulo">
      Total a consumir
    </div> 
  </ion-item>
  <ion-item>
 
    <div class="contenedorMenu">
      <div class="contenedorMenuItem">
          <p style="color: black;">Total <br> carbohidratos</p>
          <ion-progress-bar value="0.2" color="dark"></ion-progress-bar>
          <p style="color: black;">{{carbo}}/{{datosUsuario.carbo}}</p>
      </div>
     
        <div class="contenedorMenuItem">
            <p style="color: black;">Total <br> grasa</p>
            <ion-progress-bar value="0.5" color="dark"></ion-progress-bar>
            <p style="color: black;">{{protein}}/{{datosUsuario.grease}}</p>
        </div>
       
          <div class="contenedorMenuItem">
              <p style="color: black;">Total <br> proteina</p>
              <ion-progress-bar value="0.5" color="dark"></ion-progress-bar>
              <p style="color: black;">{{grasa}}/{{datosUsuario.protein}}</p>
          </div>
        </div>
  </ion-item>
  <ion-item *ngFor="let alimento of alimentos; let i=index">
    <ion-label class="ion-text-wrap">
      {{ucFirst(alimento.name)}} 
      <ion-label class="ion-text-wrap" style="color: #ef4044;">  {{alimento.cant}} = {{alimento.calories}}Kcal  </ion-label>
    </ion-label>
    <ion-buttons slot="end">
       <ion-button color="danger" (click)="add(i)">+</ion-button>
      <p>{{alimento.cantidad}}</p>
      <ion-button color="danger" (click)="decrease(i)" [disabled]='alimento.cantidad == 0'>-</ion-button> 
    </ion-buttons>  
  </ion-item>


</ion-content>

