.imagenmodificada {
  width: 50px;
  height: 50px;
}

ion-button {
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

.contenedorMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.09);
  color: white;
}

.contenedorMenuItem {
  flex: 1;
  /*  margin: 0 10px; */
  text-align: center;
}

.contenedorMenuItem:nth-child(1):hover {
  opacity: 0.7;
}

.contenedorMenuItem:nth-child(2):hover {
  opacity: 0.7;
}

.contenedorMenuItem:nth-child(3):hover {
  opacity: 0.7;
}

.titulo {
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

ion-progress-bar {
  width: 80%;
  margin: 0 auto;
}

.carboP {
  --progress-background: #EF4044;
  --background: white;
}

.proteP {
  --progress-background: black;
  --background: red;
}

.grasaP {
  --progress-background: white;
  --background: black;
}

.complete {
  --progress-background: black !important;
  --background: grey;
}

.raya:nth-child(odd) {
  border-right: 1px solid #cecece;
}

ion-item {
  --inner-border-width: 0;
}
