 
<form>
  <ion-grid>
    <!-- <ion-row>
      <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Peso</ion-label>
          <ion-item lines="none">
            <ion-input name="peso" [(ngModel)]="medidasUser.peso" ></ion-input>
        </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
      <ion-col size="6">
          <ion-label class="titulopeque2">Altura</ion-label>
          <ion-item lines="none">
            <ion-input name="altura" [(ngModel)]="medidasUser.altura" ></ion-input>
        </ion-item>
  <ion-row>

  </ion-row>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="6" class="rightborder">
        <ion-label class="titulopeque2">Cintura minima</ion-label>
        <ion-item lines="none">
          <ion-input name="min_waist" [(ngModel)]="medidasUser.min_waist"  ></ion-input>
      </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
      <ion-col size="6">
          <ion-label class="titulopeque2">Cintura maxima</ion-label>
          <ion-item lines="none">
            <ion-input name="max_waist" [(ngModel)]="medidasUser.max_waist" ></ion-input>
        </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Cadera</ion-label>
          <ion-item lines="none">
            <ion-input name="hip" [(ngModel)]="medidasUser.hip" ></ion-input>
        </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
      <ion-col size="6">
          <ion-label class="titulopeque2">Cuello</ion-label>
          <ion-item lines="none">
            <ion-input name="neck" [(ngModel)]="medidasUser.neck" ></ion-input>
        </ion-item>
  <ion-row>

  </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Muslo derecho</ion-label>
          <ion-item lines="none">
            <ion-input name="right_thigh" [(ngModel)]="medidasUser.right_thigh" ></ion-input>
        </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
      <ion-col size="6">
          <ion-label class="titulopeque2">Muslo izquierdo</ion-label>
          <ion-item lines="none">
            <ion-input name="left_thigh" [(ngModel)]="medidasUser.left_thigh"  ></ion-input>
        </ion-item>
  <ion-row>

  </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Brazo relajado derecho</ion-label>
          <ion-item lines="none">
            <ion-input name="right_arm" [(ngModel)]="medidasUser.right_arm" ></ion-input>
        </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
      <ion-col size="6">
          <ion-label class="titulopeque2">Brazo relajado izquierdo</ion-label>
          <ion-item lines="none">
            <ion-input name="left_arm" [(ngModel)]="medidasUser.left_arm" ></ion-input>
        </ion-item>
  <ion-row>

  </ion-row>
      </ion-col>
    </ion-row>

    <!-- brazo flexionado  -->
    <ion-row>
      <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Brazo flexionado derecho</ion-label>
          <ion-item lines="none">
            <ion-input name="right_arm_flexed" [(ngModel)]="medidasUser.right_arm_flexed" ></ion-input>
        </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
      <ion-col size="6">
          <ion-label class="titulopeque2">Brazo flexionado izquierdo</ion-label>
          <ion-item lines="none">
            <ion-input name="left_arm_flexed" [(ngModel)]="medidasUser.left_arm_flexed" ></ion-input>
        </ion-item>
  <ion-row>

  </ion-row>
      </ion-col>
    </ion-row>


    
    <ion-row>
      <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Pantorrilla derecho</ion-label>
          <ion-item lines="none">
            <ion-input name="right_calf" [(ngModel)]="medidasUser.right_calf" ></ion-input>
        </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
      <ion-col size="6">
          <ion-label class="titulopeque2">Pantorrilla izquierda</ion-label>
          <ion-item lines="none">
            <ion-input name="left_calf" [(ngModel)]="medidasUser.left_calf" ></ion-input>
        </ion-item>
  <ion-row>

  </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Torax</ion-label>
          <ion-item lines="none">
            <ion-input name="torax" [(ngModel)]="medidasUser.torax"  ></ion-input>
        </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
    </ion-row>
      <ion-card  style="
      width: 254px; 
      border-radius: 10px;
      text-transform: uppercase;
      font-family: 'Open Sans';
      --background:#EF4044;
      color:white;
      margin: 0 auto;
      margin-bottom: 5px;
      "
      (click)="update()">
    <h4 style="margin: 10px; text-align: center;"> 
      <b>Actualizar</b>
    </h4> 
      </ion-card>
  </ion-grid>
</form>

