 
<form>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Peso</ion-label>
          <ion-item lines="none">
            <ion-input name="peso" [(ngModel)]="medidasUser.peso" readonly></ion-input>
        </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
      <ion-col size="6">
          <ion-label class="titulopeque2">Altura</ion-label>
          <ion-item lines="none">
            <ion-input name="altura" [(ngModel)]="medidasUser.altura" readonly></ion-input>
        </ion-item>
  <ion-row>

  </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="rightborder">
        <ion-label class="titulopeque2">Cintura minima</ion-label>
        <ion-item lines="none">
          <ion-input name="cintura_min" [(ngModel)]="medidasUser.cintura_min" readonly ></ion-input>
      </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
      <ion-col size="6">
          <ion-label class="titulopeque2">Cintura maxima</ion-label>
          <ion-item lines="none">
            <ion-input name="cintura_max" [(ngModel)]="medidasUser.cintura_max" readonly></ion-input>
        </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Cadera</ion-label>
          <ion-item lines="none">
            <ion-input name="cadera" [(ngModel)]="medidasUser.cadera" readonly></ion-input>
        </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
      <ion-col size="6">
          <ion-label class="titulopeque2">Cuello</ion-label>
          <ion-item lines="none">
            <ion-input name="cuello" [(ngModel)]="medidasUser.cuello" readonly></ion-input>
        </ion-item>
  <ion-row>

  </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Muslo derecho</ion-label>
          <ion-item lines="none">
            <ion-input name="muslo_d" [(ngModel)]="medidasUser.muslo_d" readonly></ion-input>
        </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
      <ion-col size="6">
          <ion-label class="titulopeque2">Muslo izquierdo</ion-label>
          <ion-item lines="none">
            <ion-input name="muslo_i" [(ngModel)]="medidasUser.muslo_i" readonly ></ion-input>
        </ion-item>
  <ion-row>

  </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Brazo relajado derecho</ion-label>
          <ion-item lines="none">
            <ion-input name="brazo_d" [(ngModel)]="medidasUser.brazo_d" readonly></ion-input>
        </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
      <ion-col size="6">
          <ion-label class="titulopeque2">Brazo relajado izquierdo</ion-label>
          <ion-item lines="none">
            <ion-input name="brazo_i" [(ngModel)]="medidasUser.brazo_i" readonly></ion-input>
        </ion-item>
  <ion-row>

  </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Pantorrilla derecho</ion-label>
          <ion-item lines="none">
            <ion-input name="pantorrilla_d" [(ngModel)]="medidasUser.pantorrilla_d" readonly></ion-input>
        </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
      <ion-col size="6">
          <ion-label class="titulopeque2">Pantorrilla izquierda</ion-label>
          <ion-item lines="none">
            <ion-input name="pantorrilla_i" [(ngModel)]="medidasUser.pantorrilla_i" readonly></ion-input>
        </ion-item>
  <ion-row>

  </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="rightborder">
          <ion-label class="titulopeque2">Torax</ion-label>
          <ion-item lines="none">
            <ion-input name="torax" [(ngModel)]="medidasUser.torax" readonly ></ion-input>
        </ion-item>
  <ion-row>
  </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

