<ion-card>
  <ion-card-content class="tarjeta">
    <!-- <ion-button class="btn-izquierda" color="danger" fill="outline" slot="end">Detalles</ion-button> -->
    <p>3 meses</p>
    <p>USD $24.99 cada 3 meses</p>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content class="tarjeta">
    <!-- <ion-button class="btn-izquierda" color="danger" fill="outline" slot="end">Detalles</ion-button> -->
    <p>6 meses</p>
    <p>USD $34.99 cada 6 meses</p>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content class="tarjeta">
    <!-- <ion-button class="btn-izquierda" color="danger" fill="outline" slot="end">Detalles</ion-button> -->
    <p>1 año</p>
    <p>USD $59.99 cada años</p>
  </ion-card-content>
</ion-card>


<ion-card  style="
width: 254px; 
border-radius: 10px;
text-transform: uppercase;
font-family: 'Open Sans';
--background:#EF4044;
color:white;
margin: 0 auto;
margin-bottom: 5px;
">
<h4   style="margin: 10px; text-align: center;"> 
<b>Continuar</b>
</h4> 
</ion-card>

